
h4,h6,p{
    color: #213c73;
}.heading{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}.btm{
 width: 200px;
 margin: 5px;

}.align-items-right{
    margin-left: 150px;
}
.lead {
    margin-top: -14px;
    font-size: 12px;
}.sn{
    margin-left: 20px;
}.cardcontet{
    padding: 5px;
}
@media only screen and (max-width: 480px) {
    body {

        overflow-x: hidden;
    }

    h4 {
        text-align: center;
        font-size: 30px;
    }

    .btm {
        width: 600px; 
        margin-left: -100px;
        padding: 10px;

    }

    table th {

        font-size: 10px;

    }

    .cl {
        width: 20px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        text-align: center;


    }.sn{
        width: 20px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        text-align: center;
    }.s{
        text-align: center;
        
    }

    .card {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }.rg {
        display: none;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    body {

        overflow-x: hidden;
    }

    h4 {
        text-align: center;
        font-size: 30px;
    }

    .btm {
        width: 100%; 
    }

    table th {

        font-size: 10px;

    }

    .cl {
        width: 20px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        text-align: center;


    }.sn{
        width: 20px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        text-align: center;
    }.s{
        text-align: center;
        
    }

    .card {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }.rg {
        display: none;
        text-align: center;
    }
}

