<div class="row mt-4">

</div>
<div class="row mt-4">

</div>
<div class="row mt-4">

</div>
<div class="row  ">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul class="nav  ">

            <li class="nav-item">
                <a class="nav-link" routerLink="general">General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="selecion">Tu Selecions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="reports" tabindex="-1" aria-disabled="true">Reportes</a>
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>