<!-- <div class="row mt-4">

</div>
<div class="row mt-4">

</div> -->
<header class="masthead mt-4">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-12">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h4 class=" lh-6 mb-3 fw-bold ">PARTICIPA</h4>
                    <p class="lead ">Selecciona un pool gloabal y`unete. O crea uno propio </p>

                </div>
            </div>
            <div class="col-lg-12">
                <div class="row rm">
                    <div class="col-lg-3 ">
                        <div class="card plus">
                            <h6 class=" text-center">CREAT</h6>

                            <h1 class="text-center"><i class="fa fa-plus"></i></h1>
                            <h6 class=" text-center">POOL</h6>

                        </div>
                    </div>

                    <div class="col-lg-3 ">

                        <div class="card mb-3 " style="max-width: 540px;">
                            <a routerLink="cardpage" class="text-decoration-none">
                                <div class="row g-0 bg-primary">

                                    <div class="col-md-4">
                                        <img src="assets/img/card/1.jpg" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8 ">
                                        <div class="card-body ">
                                            <h6 class="card-title">Pool Global</h6>
                                            <p class="card-text">BANCO POPULAR</p>

                                        </div>

                                    </div>

                                </div>
                                <div class="bg-white">
                                    <div class="row mt-1">
                                        <div class="col-md-2"><i class="fa fa-user m-2"></i></div>

                                        <div class="col-md-10">
                                            <p class="m-1"> <span class="text-danger">43</span> / 200 participates</p>
                                        </div>
                                    </div>

                                </div>
                                </a>
                        </div>

                    </div>

                    <!-- col-2 -->
                    <div class="col-lg-3 ">
                        <div class="card mb-3 " style="max-width: 540px;">
                            <div class="row g-0 bg-primary">
                                <div class="col-md-4">
                                    <img src="assets/img/card/2.webp" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8 ">
                                    <div class="card-body ">
                                        <h6 class="card-title">Pool Global</h6>
                                        <p class="card-text">EMPRSA CON NU </p>

                                    </div>

                                </div>
                            </div>
                            <div class="bg-white">
                                <div class="row mt-1">
                                    <div class="col-md-2"><i class="fa fa-user m-2"></i></div>

                                    <div class="col-md-10">
                                        <p class="m-1"> <span class="text-danger">43</span> / 200 participates</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- col-3 -->
                    <div class="col-lg-3 ">
                        <div class="card mb-3 " style="max-width: 540px;">
                            <div class="row g-0 bg-primary">
                                <div class="col-md-4">
                                    <img src="assets/img/card/8.webp" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8 ">
                                    <div class="card-body ">
                                        <h6 class="card-title">Pool Global</h6>
                                        <p class="card-text">FUNERERIA </p>

                                    </div>

                                </div>
                            </div>
                            <div class="bg-white">
                                <div class="row mt-1">
                                    <div class="col-md-2"><i class="fa fa-user m-2"></i></div>

                                    <div class="col-md-10">
                                        <p class="m-1"> <span class="text-danger">43</span> / 200 participates</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- row 2 -->
                <div class="row">
                    <div class="col-lg-3 ">
                        <div class="card mb-3 " style="max-width: 540px;">
                            <div class="row g-0 bg-primary">
                                <div class="col-md-4">
                                    <img src="assets/img/card/4.webp" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8 ">
                                    <div class="card-body ">
                                        <h6 class="card-title">Pool Global</h6>
                                        <p class="card-text">CCN</p>

                                    </div>

                                </div>
                            </div>
                            <div class="bg-white">
                                <div class="row mt-1">
                                    <div class="col-md-2"><i class="fa fa-user m-2"></i></div>

                                    <div class="col-md-10">
                                        <p class="m-1"> <span class="text-danger">43</span> / 200 participates</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 ">
                        <div class="card mb-3 " style="max-width: 540px;">
                            <div class="row g-0 bg-primary">
                                <div class="col-md-4">
                                    <img src="assets/img/card/5.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8 ">
                                    <div class="card-body ">
                                        <h6 class="card-title">Pool Global</h6>
                                        <p class="card-text">EMPERSA CON </p>

                                    </div>

                                </div>
                            </div>
                            <div class="bg-white">
                                <div class="row mt-1">
                                    <div class="col-md-2"><i class="fa fa-user m-2"></i></div>

                                    <div class="col-md-10">
                                        <p class="m-1"> <span class="text-danger">43</span> / 200 participates</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- col-2 -->
                    <div class="col-lg-3 ">
                        <div class="card mb-3 " style="max-width: 540px;">
                            <div class="row g-0 bg-primary">
                                <div class="col-md-4">
                                    <img src="assets/img/card/9.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8 ">
                                    <div class="card-body ">
                                        <h6 class="card-title">Pool Global</h6>
                                        <p class="card-text">GRUPO RAMPO</p>

                                    </div>

                                </div>
                            </div>
                            <div class="bg-white">
                                <div class="row mt-1">
                                    <div class="col-md-2"><i class="fa fa-user m-2"></i></div>

                                    <div class="col-md-10">
                                        <p class="m-1"> <span class="text-danger">43</span> / 200 participates</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- col-3 -->
                    <!-- <div class="col-lg-3 ">
                        <div class="card mb-3 " style="max-width: 540px;">
                            <div class="row g-0 bg-primary">
                                <div class="col-md-4">
                                    <img src="assets/img/card/07b133e78156c97e369946d65b4bfef6.jpg"
                                        class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8 ">
                                    <div class="card-body ">
                                        <h6 class="card-title">Pool Global</h6>
                                        <p class="card-text">Ban Papular</p>

                                    </div>

                                </div>
                            </div>
                            <div class="bg-white">
                                <div class="row mt-1">
                                    <div class="col-md-2"><i class="fa fa-user m-2"></i></div>

                                    <div class="col-md-10">
                                        <p class="m-1"> <span class="text-danger">43</span> / 200 participates</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> -->

                </div>


            </div>

        </div>
    </div>
</header>